@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Merienda:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: "STV";
    src: url("/fonts/stv.ttf") format("truetype");
}

::-webkit-scrollbar {
    @apply h-1 w-2;
}

::-webkit-scrollbar-thumb {
    @apply bg-primary;
}

::-webkit-scrollbar-track {
    @apply bg-white;
}

::selection {
    @apply bg-primary text-white;
    text-shadow: 1px 1px black;
}

// ================================
@keyframes box {
    0% {
        @apply -bottom-8 left-[43%];
    }
    30% {
        @apply bottom-7;
    }
    50%,
    60% {
        @apply bottom-3 left-[43%];
    }
    100% {
        @apply bottom-3 left-[calc(102%)];
    }
}

@keyframes truck {
    0% {
        @apply -right-16;
    }

    50%,
    60% {
        @apply right-1/2;
    }

    100% {
        @apply -right-16;
    }
}
