@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --primary: 94 53 177;
      --dimWhite: 107 118 136;
      --dimBlack: 24 34 46;
      --dimPurple: 94 53 177;
      --darkGray: 24 34 46;
      --boxShadow: 103 58 183;
      --deep-purple-50: 237 231 246;
      --deep-purple-100: 209 196 233;
      --deep-purple-200: 179 157 219;
      --deep-purple-300: 149 117 205;
      --deep-purple-400: 126 87 194;
      --deep-purple-500: 103 58 183;
      --deep-purple-600: 94 53 177;
      --deep-purple-700: 81 45 168;
      --deep-purple-800: 69 39 160;
      --deep-purple-900: 49 27 146;
   }
   :root.dark {
      --primary: 253 116 64;
      --dimWhite: 107 118 136;
      --dimBlack: 24 34 46;
      --dimPurple: 255 74 57;
      --darkGray: 24 34 46;
      --boxShadow: 245 158 11;
      --deep-purple-50: 255 251 235;
      --deep-purple-100: 255 237 213;
      --deep-purple-200: 254 215 170;
      --deep-purple-300: 252 211 77;
      --deep-purple-400: 251 191 36;
      --deep-purple-500: 245 158 11;
      --deep-purple-600: 217 119 6;
      --deep-purple-700: 180 83 9;
      --deep-purple-800: 146 64 14;
      --deep-purple-900: 124 45 18;
   }
}

@font-face {
   font-family: "STV";
   src: url("@/assets/fonts/stv.ttf") format("truetype");
}

body {
   font-family: "Poppins", sans-serif;
   &[dir="rtl"] {
      font-family: "STV", sans-serif;
   }
}

* {
   padding: 0;
   margin: 0;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   list-style: none !important;
   box-sizing: border-box !important;
   text-decoration: none !important;
   transition: all 0.1s ease;
}

html {
   width: 100vw;
   overflow-x: hidden;
   &.dark {
      @apply bg-gradient-to-b from-darkGray to-black;
      ::-webkit-scrollbar-track {
         @apply bg-black;
      }
   }
   * ::-webkit-scrollbar {
      width: 2px !important;
      height: 5px !important;
   }
   ::-webkit-scrollbar {
      width: 10px;
   }
   ::-webkit-scrollbar-thumb {
      @apply rounded-xl bg-primary;
   }
   ::-webkit-scrollbar-track {
      @apply bg-white;
   }
   ::selection {
      @apply bg-primary text-white;
      text-shadow: 5px 5px 10px black;
   }
}

i {
   @apply cursor-pointer text-dimWhite;
   font-size: 1rem;
   &:hover {
      @apply scale-110 text-primary;
   }
}

.home-bg {
   background:
      linear-gradient(rgb(var(--darkGray) / 0.3), rgb(var(--dimBlack) / 0.8)),
      url("@/assets/images/home1.jpeg") no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   width: 100%;
}

.mobile-navbar {
   clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
   &.open {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
   }
}

.select-box {
   span.left-0 {
      left: initial;
      right: 0;
   }
   div.right-2 {
      left: 0;
      right: initial;
   }
}

.card-table-outfit {
   @apply bg-transparent p-2 shadow-none dark:border dark:border-solid dark:border-deep-purple-500;
   table {
      @apply rounded-3xl shadow-sp dark:shadow-none;
   }
}

.flex-between {
   @apply flex items-center justify-between gap-4;
}

.flex-around {
   @apply flex items-center justify-around gap-4;
}

.flex-center {
   @apply flex items-center justify-center gap-4;
}

.flex-start {
   @apply flex items-center gap-4;
}

.flex-end {
   @apply flex items-center justify-end gap-4 text-primary;
}

.border-sp {
   @apply border border-solid border-deep-purple-500;
}

.border-t-sp {
   @apply border-0 border-t border-solid border-deep-purple-500;
}

.border-b-sp {
   @apply border-0 border-b border-solid border-deep-purple-500;
}
